div.ourApproach {
  min-height: 75vh;
  background-image: url("./Group4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  margin-top: 110px;
  h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 78.4px;
  }
  a {
    background-color: #232325;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    border: 2px solid #232325;
    color: white;
    text-decoration: none;
  }

  div.copy{
    background-color: #8F8E8C;
    padding: 2rem;
    padding-left: 5rem;  
  }
}


@media screen and (max-width: 768px) {
  div.ourApproach {
    background-position: inherit;
    background-size: 200%;
    min-height: 90vh;
    div.copy{
      padding: 1rem;
      width: 100%;
      text-align: center;
      h3.custom-title{
        font-size: 32px;
      }
      span.custom-copy{
        letter-spacing: 0;
        font-size: 20px;
      }
    }
  }
}