div.sub-hero-container {
  background-image: url("../../../images/bg-1-2000x1000.jpeg");
  min-height: 30vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    color: white;
  }
}
