div.main-hero-container {
  min-height: 100vh;
  background-image: url("JPoWNn.tif.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  margin-top: 110px;
  h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: normal;
    line-height: 78.4px;
  }
  a {
    background-color: #232325;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    border: 2px solid #232325;
    color: white;
    text-decoration: none;
  }

  div.copy{
    background-color: #918444;
    padding: 2rem;
    padding-left: 5rem;  
  }
}

@media screen and (max-width: 825px) {
  div.main-hero-container {
    min-height: 70vh;
    background-position: top;
    background-size: cover;
    div.copy{
      padding: 1rem 3rem;
      .custom-title{
        font-size: inherit;
      }
      .custom-copy{
        font-size: inherit;
      }
    }
  }
}