div.row.home-separator-cotainer {
  div.image-holder {
    background-image: url("../../../../images/iStock-927401824-2260x1019.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 50vh;
  }
}
