div.row.team-cards-cotainer {
  .container {
    .card-container {
      img {
        border-radius: 5px;
        margin-bottom: 1rem;
      }
      h2 {
        color: #fec340;
        font-weight: 200;
        font-size: 24px;
      }
      p {
        font-weight: 300;
        font-size: 15px;
        padding: 15px 0px;
      }
    }
    .member-card {
      width: 20%;
      margin: 0 2.5%;
    }
  }
}

@media screen and (max-width: 768px) {
  div.row.team-cards-cotainer {
    .container {
      .member-card {
        width: 50%;
      }
    }
  }
}
