@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://use.typekit.net/ber4kcz.css");

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  div.container.post-container,
  div.container.position-container {
    padding: 5rem 1rem !important;
  }
}
svg path,
svg rect {
  fill: #232325;
}

.custom-title{
  font-family: "acumin-pro", sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 4px;
}

.custom-copy{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 4px;
}
