div .Careers-cotainer{
  .job-container-item{
    h3{
      font-size: 1.2rem;
      margin: 2rem 0;
    }
    .careers-item{
      .job-title{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .description{
        p{
          font-size: 1rem;
          font-weight: 500;
          width: 100%;
          margin-right: 2rem;
        }
        button{
          background-color: #fec340;
          color: #fff;
          border: none;
          width: 40%;
          border-radius: 5px;
          padding: 1rem;
        }
        button:hover{
          background-color: #232325;
        }
      }
    }
  }
}

@media (max-width: 768px){
  div .Careers-cotainer{
    .job-container-item{
      .careers-item{
        .job-title{
          text-align: center;
        }
        .description{
          p{
            margin-right: inherit;
            text-align: center;
          }
          button{
            margin-top: 1rem;
            width: 100%;
          }
        }
      }
    }
  }
}